/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #778899
}

/* SIDEBAR */
.sidebar {
    width: 260px;
    background:#cacaca;
    height: 100vh;
    padding: 40px 30px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile {
    text-align: center;
}

.profile img {
    width: 110px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.profile h2 {
    font-family: 'Playfair Display', serif;
}

.profile .sub {
    font-size: 12px;
    color: #777;
}

/* MENU */
.menu {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 40px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.menu a:hover,
.menu a.active {
    color: #000;
    font-weight: bold;
}

/* CONTENT */
.content {
    margin-left: 260px;
    padding: 60px;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-bottom: 20px;
}

.paragraph {
    color: #000;
    line-height: 1.8;
    max-width: 700px;
}

/* HOME PAGE */
.hero img {
    width: 400px;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-wrapper h1 {
    font-family: "Playfair Display", serif;
    font-size: 60px;
}

.button {
    margin-top: 20px;
    border: 2px solid #000;
    padding: 12px 26px;
    background: transparent;
    cursor: pointer;
}

.button:hover {
    background: #000;
    color: #5F9EA0e;
}

/* GRID (Portfolio) */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.box {
    background: #000;
    padding: 40px;
    text-align: center;
    font-weight: bold;
}
